body {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .navbar {
    font-size: 15px;
  }
  
  #navbar > ul {
    color: #fbfbfb;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #navbar > ul > li.active > a {
    background-color: transparent;
  }
  
  .navbar-inverse .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    color: #F5F5F5;
    text-transform: uppercase;
    font-style: cursive;
  }
  
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 3.0em;
    padding-bottom: 20px;
  }
  
  .header-section {
    background-image: url("https://images.unsplash.com/7/Top_view.jpg?fit=crop&fm=jpg&h=700&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1375");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #45484B;
    height: 100vh;
    width: 100%;
  }
  
  .header-section h1 {
    font-size: 5.5rem;
  }
  
  .intro-text {
    padding-top: 150px;
    color: #ffffff;
  }
  
  .intro-text p {
    font-size: 22px;
    font-weight: normal;
    font-style: italics;
  }
  
  .intro-btns {
    margin-top: 40px;
  }
  
  .profile-pic {
    margin: 20px auto;
    width: 250px;
  }
  
  .profile-pic img {
    border-radius: 100%;
    border: 3px solid rgb(142, 44, 44);
    margin-bottom: 40px;
  }
  
  .profile-pic img:hover {
    border-radius: 3px;
  }
  
  .social-icons {
    display: inline;
    margin: 90px;
  }
  
  .social-icons a {
    color: #ffffff;
    text-align: center;
    padding-right: 10px;
    border: 2px solid #fffcfc;
    width: 50px;
    font-size: 22px;
    text-align: center;
    padding: 15px;
    border-radius: 100%;
  }
  
  .social-icons a:hover {
    color: #000;
    background-color: #fff;
  }
  
  #about {
    padding-top: 20px;
    background-color: #fbfafa;
    color: #000000;
    padding-bottom: 20px;
    font-size: 18px;
  }
  
  #portfolio {
    padding-top: 25px;
  }
  
  .portfolio-title {
    font-weight: bold;
  }
  
  .portfolio-subtitle {
    font-style: italic;
  }
  
  .thumbnail:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  #about h1 {
    padding-top: 20px;
  }
  
  #contact {
    background-color: #1d1e1e;
  }
  
  #contact p {
    color: #e0cece;
    font-size: 24px;
    padding: 20px 0;
  }
  
  .contact-btn {
    font-weight: 600;
    font-size: 16px;
  }
  
  footer {
    background-color: #2a0000;
  }
  
  footer > span {
    font-size: 15px;
    color: #555;
  }
  
  .footer-nav {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .footer-nav li {
    display: inline;
    font-weight: 600;
    padding-right: 20px;
  }
  
  .footer-nav a {
    color: #79797B;
    text-decoration: none;
    font-size: 15px;
  }
  
  .footer-nav a:hover {
    color: #fbfbfb;
  }
  
  
  /* Small devices (tablets, 768px and up) */
  
  @media (min-width: @screen-sm-min) {
    .intro-text {
      padding-top: 50px;
      color: red;
      font-size: 14px;
    }
  }